<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

    <test thread-count="10" name="firefox">

        <classes>
            <class name="testRunner.lumaAutomation">
                <parameter name="browser" value="firefox" />
                <parameter name="url" value="https://magento.softwaretestingboard.com" />
                <parameter name="testId5" value="TC-005" />
                <parameter name="testId6" value="TC-006" />
                <parameter name="com.aventstack.extentreports.cucumber.adapter.ExtentCucumberAdapter:output-folder" value="path/to/folder" />

            </class>
        </classes>
    </test> <!-- Test -->
</suite>